@import "tailwindcss";
@import '@fontsource/exo-2';

@theme {
    --color-test: #31487a; /* #435c94; */
    --color-text-test: var(--color-test);
    --color-test-500: var(--color-test);
    --color-black: #0f172a;
    --color-text-black: var(--color-black);
    --color-bg-black: var(--color-black);

    --color-accent: #777b7e;
    --color-text-accent: var(--color-accent);
}

/* Apply Exo 2 font to the entire application */
html, body, #root {
    font-family: 'Exo 2', sans-serif;
}